@import '/src/styles/Variables.scss';

.__optionsActive {
	background-color: $primary-color !important;
}

.__detailsWrapper {
	clear: both;
}

.__inactive {
	display: none;
}
.__active {
	display: block;
}

.__modal {
	&__title {
		display: block;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin-top: 20px;
		margin-bottom: 12px;
		&--select {
			color: black;
			display: block;
			width: 100%;
			font-size: 15px;
			outline: none;
			line-height: 18px;
			height: 52px;
			box-sizing: border-box;
			transition: all 0.1s ease, height 0s;
			-webkit-appearance: none;
			background-color: #fff;
			border-color: rgba(153, 153, 153, 0.4) !important;
			padding: 16px !important;
			border-radius: 2px !important;
		}
	}
	&__input {
		text-align: center;
		border-color: rgba(153, 153, 153, 0.4) !important;
		padding: 4px !important;
		border-radius: 2px !important;
		margin: 0 1rem 1rem 1rem;
		&--goal {
			border-color: rgba(153, 153, 153, 0.4) !important;
			padding: 4px !important;
			border-radius: 2px !important;
			margin-bottom: 2rem;
		}
		&--des {
			border-color: rgba(153, 153, 153, 0.4) !important;
			padding: 4px !important;
			border-radius: 2px !important;
			margin-bottom: 2rem;
			width: 100%;
		}
	}
	&__main {
		border: 1px solid #fff;
		border-color: rgba(153, 153, 153, 0.4) !important;
		box-sizing: border-box;
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
			rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	}
	&__action {
		position: relative;
		z-index: 10;
		&__wrapper {
			padding: 0rem;
			margin-bottom: 1rem;
			text-align: right;
			&--adjust > li {
				margin: 1rem 0 0 1rem;
				width: 20%;
				display: inline-block;
				text-align: center;
				background-color: $second-color;
				position: relative;
				padding: 1rem 3rem;
				color: $third-color;
				font-size: 1rem;
				text-decoration: none;
				transition: all 0.2s;
				cursor: pointer;
				border-radius: 3px;
				font-weight: 400;
			}
		}
	}
}

.__dropdown {
	&::after {
		content: '';
		height: 0;
		width: 0;
		border-style: solid;
		border-color: black transparent transparent transparent;

		border-width: 5px;
		position: absolute;
		right: 11.5px;
		top: 50%;
		margin-top: -2.5px;
		pointer-events: none;
	}
}

.__options {
	color: black;
	display: block;
	width: 65%;
	font-size: 15px;
	margin: 0 auto;
	outline: none;
	line-height: 18px;
	height: 30px;
	box-sizing: border-box;
	transition: all 0.1s ease, height 0s;
	-webkit-appearance: none;
	background-color: #fff;
	border-color: rgba(153, 153, 153, 0.4) !important;
	text-align: center;
	border-radius: 2px !important;
}

.__optionsDropdown {
	&::after {
		content: '';
		height: 0;
		width: 0;
		border-style: solid;
		border-color: black transparent transparent transparent;

		border-width: 5px;
		position: absolute;
		right: 63px;
		top: 50%;
		margin-top: -2.5px;
		pointer-events: none;
	}
}

.__optionsNameCard {
	&::after {
		content: '';
		height: 0;
		width: 0;
		border-style: solid;
		border-color: black transparent transparent transparent;

		border-width: 5px;
		position: absolute;
		right: 90px;
		top: 50%;
		margin-top: -2.5px;
		pointer-events: none;
	}
}

.__editActive {
}

.__modal {
	&__title {
		display: block;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin-top: 20px;
		margin-bottom: 12px;
		text-align: center;
	}
}
