@import "/src/styles/Variables.scss";
.wrapper {
  position: relative;
  padding: 2.3rem 1rem 2rem;
  background: $primary-color;
  text-align: center;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}

.__week {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.__logoWrapper {
  display: inline-block;
  vertical-align: middle;
  &--adjust {
    width: 150px;
    height: 80px;
    display: block;
    object-fit: cover;
  }
}

.__localTime {
  padding-top: 1rem;
  font-size: 0.7rem;
  color: $third-color;
}

.__matchList {
  & > time {
    text-align: center;
    display: block;
    padding: 0 1rem 0.8rem;
    font-size: 0.8rem;
    color: $fourth-color;
    font-weight: 600;
    margin-top: 1rem;
  }
  &--adjust {
    :nth-child(odd) {
      background-color: $second-color;
    }
    :nth-child(even) {
      background-color: $fourth-color;
    }
  }
}
