.container {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

._header {
	text-transform: uppercase;

	font-weight: 600;
	font-size: 1.5rem;
	line-height: 0.8;
	margin-right: 0.5rem;
}
