.ModalTitle {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 50px;
	display: flex;
}

.ModalFooter {
	width: 100%;
	height: 50px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	&__ButtonBlock {
		border-radius: 5px;
		width: 100px;
		height: 100%;
		margin-left: 12px;
		text-align: center;
		background-color: #98002e;
		transition: ease-in 0.2s;
		&:hover {
			background-color: #760024;
		}
	}
}

.Input {
	outline: none;
	&__Top {
		width: 80%;
		border-radius: 5px;
		padding: 8px 8px;
		margin-top: 1rem;
		&--oneobject {
			width: 90%;
		}
	}
	&__Image {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		font-size: 17px;
		color: #b8b8b8;
	}
	&__ButtonLabel {
		display: inline-block;
		padding: 8px 8px;
		z-index: 2;
		border-radius: 5px;
		width: 100%;
		background-color: #98002e;
		cursor: pointer;
		transition: ease-in 0.2s;
		&:hover {
			background-color: #760024;
		}
	}
	&__Preview {
		background-color: #fff;
		width: 100%;
		height: 100%;
		&__TextBlock {
			transform: translateX(-3%);
			width: 100%;
			border-radius: 5px;
			flex: 1 1 0%;
		}
		&__Image {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.ImageUploadWrap {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto;
	border-radius: 5px;
	width: 100%;
	box-shadow: 0px 0px 5px rgb(114, 114, 114);
}

.TitleTop {
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
}
