.__wrapper {
	max-width: 1500px;
	display: grid;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	gap: 1rem;
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
