.team__card-box {
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	height: auto;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius: 5px;
}
.team__card-box:hover {
	cursor: pointer;
}
.team__card-image {
	height: 13rem;
	overflow: hidden;
}
.team__card-image--adjust {
	position: relative;
	display: block;
	height: 100%;
	background-position: 50%;
	background-size: cover;
	width: 100%;
}
.team__card-image--badge {
	width: 96px;
	height: 96px;
	position: absolute;
	top: 9rem;
	left: 50%;
	margin-left: -50px;
	border-radius: 100%;
	background: #fff;
}
.team__card-image--badge---container {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.team__card-image--badge---adjust {
	width: 6rem;
	height: 6rem;
	vertical-align: middle;
}

.team__card-info--box {
	padding: 3rem 0.5rem 1rem;
	line-height: 1.8;
}
.team__card-info--box---adjust {
	font-weight: 600;
	font-size: 1.5rem;
}
.team__card-info--box---clubname {
	font-size: 1.2rem;
	font-weight: 400;
	color: black;
}
.team__card-info--box---stadiumname {
	font-size: 1rem;
	line-height: 1.4;
	margin-top: 0.5rem;
}

.team__card-info--box---button {
	display: block;
	position: relative;
	font-weight: 400;
	margin-top: 2.3rem;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}
.team__card-info--box---button----text {
	font-size: 1rem;
	line-height: 1.4;
	color: black;
	font-weight: 600;
}
// &----icon {
// 	margin-left: 6px;
// 	margin-bottom: 2px;
// }

.team__card-box:hover .team__card-image {
	transform: scale(1.2);
	transition: transform 2s;
	background-position: 50%;
	background-size: cover;
}

.team__card-info--box---button----text:hover {
	text-decoration: underline;
	transform: scale(1.2);
}

.__block__icon {
	background-color: transparent !important;
}
.__block__icon--adjust {
	background-color: transparent !important;
	position: absolute;
	bottom: 0.45rem;
	right: 2rem;
	width: 15px;
	height: 14px;
	transition: right 0.2s;
}

.team__card-info--box---button:hover .__block__icon--adjust {
	right: 1.4rem;
}
