.__date {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.25;
	color: #8e9196;
}
.__heading {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 2rem;
	color: #000;
}
.__content {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
}
