._customButton {
	width: 100px;
	height: 2.2rem;
	letter-spacing: 0.5px;
	background-color: black;
	color: white;
	font-size: 1rem;
	border: 1px solid linear-gradient(to right, #642b73, #c6426e);
	border-radius: 5px;
	cursor: pointer;
	margin: 0 1rem;
	transition: all 0.2s;
}

._active {
	background: linear-gradient(to right, #642b73, #c6426e);
	border: 1px solid linear-gradient(to right, #642b73, #c6426e);
}
