.__block {
	display: flex;
	border-bottom: 1px solid #e8e8e8;
	align-items: center;
	font-size: 1.3rem;
	padding: 0.3rem;
	line-height: 1.5rem;
	text-decoration: none;
	color: #242424;
}

.__number {
	width: 1.5rem;
	color: white;
}

.__nationality {
	display: flex;
	align-items: center;
	font-size: 1.1rem;
	height: 1.8rem;
}
