// $primary-color: #1b323a;
// $second-color: #699eb3;
// $third-color: #eff5ce;
// $fourth-color: #84bdcb;
// $fifth-color: #98002e;

$primary-color: #000000;
$second-color: #262626;
$third-color: #f9a01b;
$fourth-color: #000000;
$fifth-color: #98002e;
// $fourth-color: ;
// $fifth-color: ;
// size
// font
$f-1: Teko, sans-serif;

// $f-2: "Oswald", sans-serif;
// $f-3: "Cookie", cursive;
// $f-4: "Lato", sans-serif;
// $f-5: "Chakra Petch", sans-serif;
