$primary-color: #1b323a;
$second-color: #699eb3;
$third-color: #eff5ce;
$fourth-color: #84bdcb;
// $fourth-color: ;
// $fifth-color: ;
// size
// font
$f-1: 'Montserrat', sans-serif;
// $f-2: "Oswald", sans-serif;
// $f-3: "Cookie", cursive;
// $f-4: "Lato", sans-serif;
// $f-5: "Chakra Petch", sans-serif;
