.__image {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  transition: all 500ms ease-in-out 0s;
  transform: scale(1);
  border-radius: 50px;
  border: 1px solid black;
  // padding-top: 9rem;
}

.__ContentBlock {
  position: absolute;
  top: 0;
  height: 100%;
}
.description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25;
}
