.__container {
	height: 100%;
	min-height: 44rem;
	border-right-width: 0;
	position: relative;
	// width: 33.33%;
}
.__background {
	background: #222;
	color: #fff;
	border-radius: 0.375rem;
	padding: 3rem 0 0;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.__backcard {
	padding-left: 2rem;
	padding-right: 2rem;
}

.__datatTop {
	display: flex;
	align-items: flex-end;
}

.__playerImage {
	position: absolute;
	bottom: 3.4375rem;
	left: 12%;
	max-width: none;
	right: 0;
}

.__playerImageBlock {
	display: flex;
	max-width: none;
	width: 100%;
}
.__ImageBox {
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	width: initial;
	height: initial;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	max-width: 100%;
	&--adjust {
		width: 100%;
	}
}

.__playerInfo {
	border-color: #fff;
	margin-bottom: 0.9375rem;
}
.__dataMiddle {
}

.__playerNumAndPos {
	font-size: 1rem;
	display: flex;
	line-height: 1;
	margin-bottom: 0.25;
	align-items: baseline;
}

.__playerNum {
	margin-right: 0.5rem;
	padding-right: 0.5rem;
	border-color: #fff;
	border-right-width: 1px;
}
.__playerName {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: left;
}
