// .TeamLogo {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }
.PlayerFigure {
  position: relative;
  // display: contents;
  width: 450px;
  height: 200px;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.375rem;
  box-shadow: 0 0 10px 0 hsl(0deg 0% 82% / 50%);
  &__teamLogo {
    height: 45px;
    height: 45px;
  }
  &__teamBlock {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
  &__top {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
  // &__teamLogoBackgroundWrap {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  // }
  &__teamLogoBackground {
    position: absolute;
    top: 0;
    left: 0;
    // height: 220px;
    width: 200px;
    opacity: 0.05;
    z-index: 1;
  }
  &__playerTitle {
    display: block;
    padding-top: 0.5rem;
    z-index: 2;
    height: auto;
    width: 100%;
  }
  &__playerImage {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}

.TeamLogo {
  position: relative;
  min-width: 100%;
  &__block {
    position: relative;
    min-width: 100%;
  }
  &__logo {
    display: block;
    min-width: 100%;
  }
}

.PlayerContent {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__title {
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.2;
  }
  &__playerName {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
  }
}
