@import '/src/styles/Variables.scss';
.signin-block {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	background-image: url('http://vba.vn/assets/img/thumbnail-social.png');
	background-size: cover;
	background-position-y: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signin {
	z-index: 0;
	padding: 90px 75px;
	background-color: white;
	width: 100%;
	max-width: 500px;
	border-radius: 20px;
}
.signin-heading {
	font-size: 50px;
	font-family: Teko;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
	color: $second-color;
}
.signin-form {
	align-items: center;
}
.signin-form-adjust {
	width: 100%;
}

.signin-form-button {
	padding-top: 10px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
.signin-form-already {
	font-family: Teko;
	position: relative;
	& span {
		margin-right: 10px;
	}
	& a {
	}
}

.adjust {
	font-family: $f-1;
	position: relative;
	margin: 1rem 0;
	& a {
	}
}
.adjust-1 {
	font-family: $f-1;
	position: relative;
	margin: 1rem 0;
	& a {
	}
}
