.__main {
  &-wrapper {
    max-width: 1376px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-content {
  }
  &-fixturesHeader {
    position: relative;
    padding: 2.3rem 1rem 2rem;
    background: #fff;
    text-align: center;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
    &--week {
      font-size: 0.9rem;
      margin-bottom: 0.8rem;
      font-weight: 400;
      text-align: center;
      color: #ff2882;
    }
    &--competition {
      display: inline-block;
      vertical-align: middle;
      &---image {
        width: 150px;
        height: 60px;
        display: block;
      }
    }
    &--localtime {
      padding-top: 1rem;
      font-size: 0.7rem;
      color: #6c6c6c;
    }
  }
  &-matchListContainer {
    &--list {
      margin-bottom: 6rem;
      border-top: 1px solid #efefef;
    }
    &--time {
      &---text {
        margin: 1rem 3rem 1rem 3rem;
        text-align: left;

        padding-bottom: 2rem;
        font-weight: 600;
        font-size: 1.4rem;
        color: black;
      }
    }
  }
}
