@import "/src/styles/Variables.scss";
.__matchBar {
  width: 100%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  position: relative;

  &__text {
    font-size: 1rem;
    font-weight: 400;
  }

  &__position {
    display: flex;
    float: left;
    color: $third-color;
    margin-left: 1rem;
  }
  &__referee {
    width: 29px;
    height: 20px;
    vertical-align: middle;
    margin: 0.3rem 0.5rem 0.2rem 0;
  }
  &__stadium {
    width: 29px;
    height: 20px;
    vertical-align: middle;
    margin: 0.3rem 0.5rem 0.2rem 0;
  }
  &__attendance {
    width: 29px;
    height: 20px;
    vertical-align: middle;
    margin: 0.3rem 0.5rem 0.2rem 0;
  }
}
